# python cache
**/__pycache__/

# IDE Configuration
.idea/
.vscode/

# frontend/static/video/restaurant.mp4
# frontend/static/video/test.mp4
# frontend/static/video/train.mp4

images/

results/predict/*.mp4

*.env